<div class="box">
   <div class="list-group">
      <p class="list-group-item">
        Anchor Name : AXY pvt ltd.
      </p>
      <br>
      <p class="list-group-item">
        Vendor Name :TCS
      </p>
      <br>
      <p class="list-group-item">
        Amount  : INR 1000000.00
      </p>
      <br>
      <p class="list-group-item">
        Invoice No : AT4500
      </p>
      <br>
    {{!--  {{input type="button" value="approve" action=gotohome}}--}}
      <button type="button" name="ok"{{action 'gotohome'}}>OK</button>
   </div>
</div>