

{{partial 'steplist'}}



{{#if approveProperty}}
  {{#modal-dialog close="toggleModal"
                  targetAttachment="center"
                  translucentOverlay=true}}
   <div class="loginmodal-container">
 <p>

   {{modalmessage}}
      
 </p>
 <input type="button" class="btn btn-primary pull-right" value="OK" {{action 'gotohome'}}>
   </div>

  {{/modal-dialog}}
{{/if}}
